/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/images/miraz-blur.jpg');
  background-size: 100vw 100vh;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  font-size: 0.75em;
}

/* breakpoints */
@media (min-width: 320px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2em;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.menu {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: mediumvioletred;
  transition: color 0.5s;
}

.menu a:active,
.menu a:hover {
  color: rebeccapurple;
}

header .title,
header .subtitle,
figcaption,
footer p {
  color: whitesmoke;
  text-align: center;
}

header .subtitle {
  white-space: nowrap; /* para a animação ficar apenas em 1 linha */
  margin: 0 auto;
  font-weight: 300;
  animation: typing 4s steps(25) 1s normal;
  overflow: hidden;
}

/* animação do efeito de digitação */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

header .subtitle:after {
  content: '|';
  margin-left: 4px;
  animation: blink 0.7s infinite;
}

/* animação do cursor piscando */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

header .arrow-down {
  position: absolute;
  bottom: 50px;
  display: block;
}

header .fa-arrow-down {
  color: whitesmoke;
  font-size: 1.5em;
}

.contato,
.about {
  padding: 3em;
  height: 100vh;
}

.skills {
  padding: 3em;
  min-height: 100vh;
  background-color: #6e5494;
}

.skills h2,
.contato h2 {
  margin-bottom: 1.5em;
  color: whitesmoke;
}

.skills .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 780px) {
  .skills .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
  }
}

.skills figure {
  text-align: center;
}

.img-skills {
  width: 8em;
  height: 8em;
  object-fit: cover;
  transition: transform 0.5s;
}

.img-skills:hover {
  transform: scale(1.2) rotate(2deg);
}

.about {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #00a8a8;
}

.about-content {
  float: right;
}

@media (min-width: 768px) {
  .about-content {
    max-width: 50%;
  }
}

.about .title,
.about p,
.about a {
  color: whitesmoke;
  text-align: right;
}

.about .title {
  font-weight: 500;
  margin-bottom: 1em;
}

.about p {
  font-weight: 300;
  font-size: 0.8em;
  margin: 1em 0;
}

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #21759b;
}

.contato .title,
.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  text-decoration: none;
  transition: text-shadow 0.2s;
}

.contato a:active,
.contato a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

footer {
  /* padding: 30px 0; */
  height: 40px;
  margin-top: -40px;
  /* background-color: dimgray; */
}

footer p {
  text-align: center;
  font-size: 0.6em;
}
